<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Catalogue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/unready.css') }}">
</head>
<body>


<header class="header">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/search.png') }}" alt="find">
        </button>
    </div>

    <div class="buttons">
        <img src="{{ url_for('static', filename='images/search.png') }}" alt="find">
        <button class="cart-button"><img src="{{ url_for('static', filename='images/cart.png') }}" alt="find"></button>
    </div>
</header>

<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col-3">
            <div class="item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/' + item['image']) }}" class="img-fluid" alt="Item Image">
                </div>
                <h4>{{ item['name'] }}</h4>
                <p>{{ item['price'] }} ₽.</p>
                <div class="btn-container">
                    <button class="btn buy" data-item-id="{{ loop.index0 }}" id="buy-{{ loop.index0 }}">В корзину</button>
                    <button class="btn info">i</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    // JavaScript to handle adding items to cart and updating button text
    const cart = {};

    document.querySelectorAll('.btn.buy').forEach(button => {
        button.addEventListener('click', function() {
            const itemId = this.getAttribute('data-item-id');
            if (!cart[itemId]) {
                cart[itemId] = 0;
            }
            cart[itemId] += 1;
            this.textContent = `В корзине ${cart[itemId]}`;
            this.classList.remove('buy');
            this.classList.add('in-cart');
        });
    });
</script>

</body>
</html>