@font-face {
  font-family: 'Sana';
  src: url('/static/fonts/sana.ttf') format('truetype');
  }

*{
    font-family: 'Sana', sans-serif;
}

.container {
    margin-top: 80px;
    z-index: 0;
    max-width: 1340px;
}

.mt-4{
    margin-top: 80px;
    z-index: 0;
    max-width: 1340px;
}

.item {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    margin: 15px 0px;
    font-weight: 800;
    font-size: 1.4em;
}

.col-3 {
    max-width: 20%;
    padding-right: 7px;
    padding-left: 8px;
}

.btn {
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.buy {
    font-size: 14px;
    border: 3px solid #e1001a;
    color: #e1001a;
    background-color: white;
    width: 70%;
    transition: all 0.3s ease;

}

.buy.in-cart {
    background-color: #e1001a;
    color: white;
    border: none;
    outline: none;
}

.info {
    background-color: #00915b;
    width: 20%;
    color: white;
}

.btn-container {
    margin-top: -10px;
    justify-content: space-between;
    align-items: center;
}


.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header {
    background-color: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logo img {
    width: 70px;
    height: auto;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    height: 43px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #e1001a;
    width: 650px;
    outline: none;
}

.search-bar button {
    margin-left: -50px;
    padding: 7px 7px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.buttons button {
    border: none;
    background: none;
    outline: none;
    margin-left: 10px;
}

.profile-button {
    padding: 7px 15px;
    border-radius: 15px;
    margin-right: 5px;
}


.cart-button {
    cursor: pointer;
    margin-right: 15px;
}

.cart-button img {
    width: 37px;
    height: auto;
}

.search-bar img {
    width: 30px;
    height: auto;
}

.total-price {
    color: #00915b;
    text-decoration: underline;
    font-weight: 600;
}




.title{
    color: #e1001a;
}

.inner-cart{
    margin: 0 auto;
    width: 60%;
    margin-top: 80px;
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

.inner-cart .stripe{
    margin: -20px;
    padding: 0px;
    width: 120%;
    height: 40px;
    background-color: #e1001a;
    margin-bottom: 20px;
}

.list-group-item{
    border: none;
}

.step{
    width: 55px;
    aspect-ratio: 1/1;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 2px;
    background-color: #e1001a;
    border-radius: 50px;
}

.steps{
    display: inline-block;
    margin:10px;
}

.pay{
    margin: 10px;
    background-color: #00915b;
    color: white;
    width: 40%;
    font-size: 24px
}

